/*------------------------------------------------------*/
/* Main grid styles */
#main_div_arc {
    color:#000;
    position: relative;
	min-height:92vh;
    align-items: center;
}
#arc_sep_div {
    height:1vh;
}
/*------------------------------------------------------*/
/* Archive grid styles */
@media (max-width: 1025px) {
    #arc_text { width:100%; padding:0px 20px; }
}



