/*------------------------------------------------------*/
/* Hero image styles */
#top_grid {
	height:29vh;
    background-image: url(../img/bg/bg08.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-clip: border-box;
	background-origin: padding-box;
	-moz-background-size: cover;
	background-size: cover;
}
#hero {
	width:100%;
	height:100%;
	background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
	align-items: center;
}
#name_img {
	max-height:25vh;
}

/*------------------------------------------------------*/
/* Main grid styles */
#main_div_bio {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	/* font-family: 'Lato', sans-serif; */
	/* background-color: #f3ece7; */
	background-color: #fdfdfd;
    align-items: center;
	font-size: large;
	min-height: 60vh;
}

/*------------------------------------------------------*/
/* Bio grid styles */
#bio_pic_container {
	align-self: center;
	height:30vh;
}
#bio_pic {
	background-image: url(../img/me/me2-circle.png);
	height:100%;
	width:100%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
#bio_text {
	/* padding:20px 20px 20px 20px; */ 
}
#contact{
    max-width: 100%;
    height: auto;
}


/*------------------------------------------------------*/
/* Hidden image styles */
span img{ height:0; opacity: 0; transition: opacity 0.3s linear;}
span:hover img{ 
	opacity: 1;
	height: 400px;
	position:absolute; 
	top: 50%; 
	/* left: 50%;  */
}
@media (max-width: 1025px) {
	#main_content { width: 100% }
	#bio_pic_container { width:100%;}
    #bio_pic { background-position:center; }
	#bio_text { width:100%; padding:0px 20px; font-size:large;}
	span:hover img{ display: none; }
}



