/*------------------------------------------------------*/
/* Main link styles */
#link-section-cont-col {
	min-height: 12vh;
}

#link-section {
	display:flex;
	/* height:30vh; */
	min-height:12vh;
	padding: 15px 0;
}
#link-img-col {
	display:flex;
	justify-content:center;
	align-items:center;
	height: 12vh;
}
#link-img-link {
	display:flex;
	justify-content: center;
	
}
#link-img {
	max-height:10vh;
	width:100%;
	border:2px solid #333;
	border-radius:5px;
}
#link-img:hover {
	border:2px solid #749abe;
	border-radius:10px;
	transition:0.2s;
}
#link-text {
	padding-left:10px;
	/* text-align:justify; */
	overflow:ellipsis;
	/* height: 100%; */
}
@media (max-width: 1025px) {
	#link-section { flex-wrap:wrap; }
	#link-img-col { flex-wrap:wrap; width: 22vw; }
	#link-img { margin: auto; height:auto; width: 100%; max-height: 12vh; }
	#link-text { width: 100%; text-align:left; padding-top:20px; display: none; }
	#margin { display: none; }
}
/*------------------------------------------------------*/
/* Other software link styles */
.other_link {
	height: 5vh;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.other_link a {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align:center;
	width:90%;
	height:100%;
	text-decoration:none;
	color:#333;
	border-radius:5px;
	transition:all .4s ease;
}
.other_link a:hover{
	border-radius:15px;
	background-color:rgba(51, 51, 51, 0.8);
	border:1px solid rgba(0,0,0,0.8);
	color: #fff;
}

@media (max-width: 1025px) {
	.other_link_row { flex-wrap: wrap; }
	.other_link { width:50%; height:10vh; }
	.other_link_margin { display:none; }
	.other_link a { 
		width:100%; 
		font-size:x-large; 
		border-radius:0; 
		border:1px solid grey; 
		background-color:rgba(102,102, 102, 0.5); 
	}
	.other_link a:hover { background-color:rgba(102, 102, 102, 0.9); }
}