@font-face {
    font-family: 'metropolislight';
    src: url('fonts/metropolis-light-webfont.woff2') format('woff2'),
         url('fonts/metropolis-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'metropolismedium';
    src: url('fonts/metropolis-medium-webfont.woff2') format('woff2'),
         url('fonts/metropolis-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
	color:#fff;
	background: url(../img/bg12.JPG);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-clip: border-box;
	background-origin: padding-box;
	-moz-background-size: cover;
	background-size: cover;
	font-family: 'metropolislight';
}
a {
	color:#ff8f33;
}

/*------------------------------------------------------*/
/* Banner grid styles */
/* #top_grid {
	height:7.5vh;
	position: -webkit-sticky;
	position:sticky;
	top:-1px;
} */
#nav_div {
	z-index:10;
	position: -webkit-sticky;
	position:sticky;
	top:-1px;
	min-height:5vh;
}
/* #name {	
	color:#595959;
	background-color:#f2f2f2;
	text-align: center;
	vertical-align: middle;
	padding-top:2px;
	font-size:xx-large;
    -webkit-box-shadow: 12px 8px 6px -6px #4d4d4d;
       -moz-box-shadow: 12px 8px 6px -6px #4d4d4d;
            box-shadow: 12px 8px 6px -6px #4d4d4d;
    font-family: 'metropolismedium';
} */
#logo_nav {
	float:left;
	max-height:5vh;
	vertical-align: middle;
	background-color:#f2f2f2;
}
#nav_col {
	background-color:#828282;
	text-align: center;
	vertical-align: middle;
    -webkit-box-shadow: 0 8px 6px -6px #4d4d4d;
       -moz-box-shadow: 0 8px 6px -6px #4d4d4d;
            box-shadow: 0 8px 6px -6px #4d4d4d;
}
#nav_bar {}

#mobile_nav {
	display: none;
}

#nav_list {
	float:left;	
}

@media (max-width: 1025px) {
	#nav_list    { display: none; }
	#mobile_nav { display: inline-block; }
}

.nav_link {
	display:block;
	text-decoration:none;
	white-space:nowrap;
	color:#fff;
	padding:.5em 1em;
	font-size:large;
}
.nav_link:hover {
	color:#ff8f33;
}
#active {
	color:#ff8f33;
}

.nav_link_drop {
	display:block;
	text-decoration:none;
	white-space:nowrap;
	color:#fff;
	font-size:large;
}
.nav_link_drop:hover {
	color:#ff8f33;
}
#active_drop {}

.pure-menu-link {
	color:#000;
}
/*dropdown styles at bottom of sheet*/

/*------------------------------------------------------*/
/* Main grid styles */

/* main_div uses the frosted glass effect */
#main_div {}
#main_grid {
	/* min-height:75vh; */
	/* padding-bottom:10px; */
	
}

#main_content::before {
	z-index: -100;
	position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../img/bg12a.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-clip: border-box;
	background-origin: padding-box;
	-moz-background-size: cover;
	background-size: cover;
	content: ' ';
}
#main_content {
	position: relative;
	background-color: rgba(0,0,0,0.6);
	min-height:92vh;
}

#main_header {
	background-color: rgba(200,200,200,0.5);
	font-size:x-large;
	padding-left:20px;
	padding-top:10px;
	padding-bottom:10px;
	/* position: -webkit-sticky;
	position:sticky;
	top: 5vh; */
}
#page_header{
	font-family: 'metropolismedium';
}
#index_main_text {
	padding:20px 50px 20px 50px;
	margin-left:20vh;
	margin-right:20vh;
}
#main_text {
	padding:0px 50px 100px 50px;
	margin-left:20vh;
	margin-right:20vh;
}

@media (max-width: 960px) {
	#index_main_text    { margin-left:1vh; margin-right:1vh; padding:20px 50px 50px 50px;}
	#main_text    { margin-left:1vh; margin-right:1vh; }
}

/*------------------------------------------------------*/
/* Research grid styles */
#research_grid {
/*	background-color:#dc2424;
	background-color:rgba(65, 104, 139,0.5);*/
	border-radius:10px;
	padding-bottom:35px;
	margin-left:20vh;
	margin-right:20vh;
}
@media (max-width: 960px) {
	#research_grid    { display:none; }
}
#research_cell {
	padding:10px 0;
}
#research_img_container {
	height:253px;
}
#research_img {
	display:block;
	margin:auto;
/*	position:relative;
	top:50%;
	transform: translate(0, -50%);*/
	border-radius:3px;
}

/*------------------------------------------------------*/
/* Publication text styles */
.pub_year {
	background: #fff;
	color: #e46c0a;
	padding: 5px;
	border-radius:5px;
	font-size:0.8em;
}
.pub_title {
	font-size:large;
	color:#FFAA63;
}

/*------------------------------------------------------*/
/* Contact grid styles */
#contact_grid {
	position: absolute;
	bottom: 0;
	width:100%;
	height:8vh;
}
.table {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}
.logo_links {
	display: inline-block;
	margin: 0;
	list-style: none;
	line-height: 1em;
	height:70px;
}
.logo_links li {
  float: left;
}
.logo_links a:hover {
  background-color: rgba(182, 173, 184, 0.1);
  border-radius: 7px;
}
.logo_links a span {
	display:none;
}
.logo_links a:hover span {
	display:block;
	color: #ffffff;
}
#logolink {
	color: #ccc;
	transition: background-color .2s;
	font-size: 1rem;
	display: inline-block;
	padding: 5px 15px;
	cursor: pointer;
	text-decoration: none;
}
#logolink:hover {
	background-color: rgba(182, 173, 184, 0.1);
}
#midlogo {
	padding:0 100px;
}
#navlogo {
	vertical-align:middle;
	padding: 5px 15px;
}
@media (max-width: 960px) {
	.logo_links { width: 100%; padding-top: 5px;}
	#logolink   { padding:0; }
	#midlogo   { padding:0 100px; }
	#navlogo  { padding:0; }
	.logo_links a:hover span { display: none; }
}
/*------------------------------------------------------*/
/* Footer grid styles */
#footer {
	background-color:rgba(41,65,87);
	color:#fff;
	font-size:x-small;
	height:3vh;
}
#footer_text {
	position:relative;
	top:50%;
}
@media (max-width: 960px) {
	#footer { height:6vh; }
	#footer_text { top: 25%; }
}
/*------------------------------------------------------*/
/* Grid spacing styles */
#margin {}
#sep_div {
	height:10vh;
}

/*------------------------------------------------------*/
/* Main dropdown styles */

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    z-index:1000;
}

/* Dropdown Content (Hidden by Default) */
.dropdown_links {
    display: none;
    position: absolute;
    background-color: rgb(182, 173, 184);
 	padding:5px 15px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-left:-65px;
}

/* Links inside the dropdown */
.dropdown_links a {
    color: black;
    text-decoration: none;
    display:block;
    float:left;
}

/* Change color of dropdown links on hover */
.dropdown_links a:hover {background-color: rgb(206, 200, 208); width:100%;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown_links {
    display: block;
}

/*------------------------------------------------------*/
/* Update dropdown styles */
.update_drop {
	display: none;
	position: absolute;
	z-index:1000;
	background-color: rgb(182, 173, 184);
	padding:10px 15px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	margin-left:-100px;
	width:300px;
	height:260px;
	color:#000;
	font-size:small;
	word-wrap: break-word;
	white-space:normal;
	text-align:left;
	line-height:normal;
}
.dropdown:hover .update_drop {
    display: block;
}

/* Links inside the dropdown */
.update_drop a {
    color: black;
}
/* Change color of dropdown links on hover */
.update_drop a:hover { background-color: rgb(206, 200, 208); }

/*------------------------------------------------------*/
/* Custom dropdown styles */
#nav_link_dropdown {
	color: #fff;
	transition: background-color .2s;
	font-size:large;
	display: inline-block;
	padding: 5px 15px;
	cursor: pointer;
	text-decoration: none;
}
#nav_link_dropdown:hover {
	color: #ff8f33;
	background-color: rgba(182, 173, 184, 0.1);
}
#nav_link_dropdown_active {
	color:#ff8f33;
	transition: background-color .2s;
	font-size:large;
	display: inline-block;
	padding: 5px 15px;
	cursor: pointer;
	text-decoration: none;
}
#nav_link_dropdown_active:hover {
	color:#ff8f33;
	background-color: rgba(182, 173, 184, 0.1);
}

#archive {
	padding:10px;
	font-size:large;
	border-radius:5px;
	text-decoration:none;   
}
#archive:hover { 
	background-color:#595959;
	color:#ff8f33; 
}

#email { color:#000000; }
#email_logo {
	vertical-align:middle;
	padding-right:10px;
}


/*------------------------------------------------------*/
/* Custom dropdown styles for the nav dropdown menu on small screens */
.mobile_dropdown {}

/* Dropdown Content (Hidden by Default) */
.mobile_dropdown_links {
    display: none;
    position: absolute;
    background-color: rgb(182, 173, 184);
 	padding:5px 15px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-left:-65px;
}

/* Links inside the dropdown */
.mobile_dropdown_links a {
    color: black;
    text-decoration: none;
    display:block;
	float:left;
	width:100%;
	padding-top:5px;
	padding-bottom:5px;
}

/* Change color of dropdown links on hover */
.mobile_dropdown_links a:hover {
	background-color: rgb(206, 200, 208);
}

/* Show the dropdown menu on hover */
.mobile_dropdown:hover .mobile_dropdown_links {
    display: block;
}

#mobile_nav_link {}