/*------------------------------------------------------*/
/* Main grid styles */
#main_div_links::before {
	z-index: -100;
	position: absolute;
    width: 100%;
    height: 100%;
    /* background-image: url(../img/bg/code-bg-blur.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-clip: border-box;
	background-origin: padding-box;
	-moz-background-size: cover;
	background-size: cover; */
	content: ' ';
}
#main_div_links {
	min-height:92vh;
}

/*------------------------------------------------------*/
/* Main link styles */
#server_row {
	display:flex;
	min-height:12vh;
	padding:20px 0px;
	/* border:1px solid red; */
}
#server_img_cont {
	display:flex;
	justify-content:center;
	align-items:center;
	width:25%;
	height:auto;
	padding:0px 24px 4px 4px;
	/* border: 1px solid blue; */
}
#server_img {
	max-height:100%;
	max-width:100%;
	border:2px solid #333;
	border-radius:5px;
}
#server_desc{
	display:flex;
    justify-content: center;
	align-items: left;
	flex-direction: column;
	width:90%;
	text-align:justify;
	/* border: 1px solid green; */
}
@media (max-width: 1025px) {
	#server_row { display:inline-block; max-height:100%; }
	#server_img_cont { display:inline-block; width:100%; }
	#server_img { margin: 0 auto; max-height:20vh; }
	#server_desc { display:inline-block; width:100%; text-align:left; }
}

#sum-tab {
	width:100%;
	background-color: #ffffff;
	margin-bottom: 20px;
}

#sum-tab td {
	padding: 3px 10px;
	border-bottom: 1px solid #ececec;
}

.td-label {
	min-width:20%;
}

#vol-tab {
	width:50%;
	text-align:center;
	border:1px solid black;
	background-color: #ffffff;
}
