h1 { font-family:Arial; }
p { font-family:Arial; }

#myImage  {
  position:relative; width:2609px; height:1966px; 
  background-image:url("arth_big_figtree.png");
  background-repeat: no-repeat; 
}

a:hover { border:1px solid #e60000; }

#HAZTE { position:absolute; top:-3; left:2279; width:325px; height:18px; }
#DPULE { position:absolute; top:22; left:2279; width:325px; height:18px; }
#EAFFI { position:absolute; top:48; left:2279; width:325px; height:18px; }
#SMARI { position:absolute; top:73; left:2279; width:325px; height:18px; }
#TURTI { position:absolute; top:99; left:2279; width:325px; height:18px; }
#MOCCI { position:absolute; top:124; left:2279; width:325px; height:18px; }
#ISCAP { position:absolute; top:150; left:2279; width:325px; height:18px; }
#CSCUL { position:absolute; top:176; left:2279; width:325px; height:18px; }
#LRECL { position:absolute; top:201; left:2279; width:325px; height:18px; }
#SMIMO { position:absolute; top:227; left:2279; width:325px; height:18px; }
#PTEPI { position:absolute; top:252; left:2279; width:325px; height:18px; }
#LHESP { position:absolute; top:278; left:2279; width:325px; height:18px; }
#CAQUI { position:absolute; top:303; left:2279; width:325px; height:18px; }
#LFULV { position:absolute; top:329; left:2279; width:325px; height:18px; }
#EDANI { position:absolute; top:355; left:2279; width:325px; height:18px; }
#BGERM { position:absolute; top:380; left:2279; width:325px; height:18px; }
#ZNEVA { position:absolute; top:406; left:2279; width:325px; height:18px; }
#PHUMA { position:absolute; top:431; left:2279; width:325px; height:18px; }
#FOCCI { position:absolute; top:457; left:2279; width:325px; height:18px; }
#APISU { position:absolute; top:482; left:2279; width:325px; height:18px; }
#PVENU { position:absolute; top:508; left:2279; width:325px; height:18px; }
#HVITR { position:absolute; top:534; left:2279; width:325px; height:18px; }
#GBUEN { position:absolute; top:559; left:2279; width:325px; height:18px; }
#CLECT { position:absolute; top:585; left:2279; width:325px; height:18px; }
#HHALY { position:absolute; top:610; left:2279; width:325px; height:18px; }
#OFAS2 { position:absolute; top:636; left:2279; width:325px; height:18px; }
#TPRET { position:absolute; top:661; left:2279; width:325px; height:18px; }
#COPFL { position:absolute; top:687; left:2279; width:325px; height:18px; }
#NVITR { position:absolute; top:713; left:2279; width:325px; height:18px; }
#AROSA { position:absolute; top:738; left:2279; width:325px; height:18px; }
#OABIE { position:absolute; top:764; left:2279; width:325px; height:18px; }
#CCINC { position:absolute; top:789; left:2279; width:325px; height:18px; }
#HSALT { position:absolute; top:815; left:2279; width:325px; height:18px; }
#LHUMI { position:absolute; top:841; left:2279; width:325px; height:18px; }
#CFLOR { position:absolute; top:866; left:2279; width:325px; height:18px; }
#PBARB { position:absolute; top:892; left:2279; width:325px; height:18px; }
#COBSC { position:absolute; top:917; left:2279; width:325px; height:18px; }
#SINVI { position:absolute; top:943; left:2279; width:325px; height:18px; }
#AECHI { position:absolute; top:968; left:2279; width:325px; height:18px; }
#ACEPH { position:absolute; top:994; left:2279; width:325px; height:18px; }
#DNOVA { position:absolute; top:1020; left:2279; width:325px; height:18px; }
#LALBI { position:absolute; top:1045; left:2279; width:325px; height:18px; }
#MROTU { position:absolute; top:1071; left:2279; width:325px; height:18px; }
#HLABO { position:absolute; top:1096; left:2279; width:325px; height:18px; }
#EMEXI { position:absolute; top:1122; left:2279; width:325px; height:18px; }
#AFLOR { position:absolute; top:1147; left:2279; width:325px; height:18px; }
#AMELL { position:absolute; top:1173; left:2279; width:325px; height:18px; }
#MQUAD { position:absolute; top:1199; left:2279; width:325px; height:18px; }
#BTERR { position:absolute; top:1224; left:2279; width:325px; height:18px; }
#BIMPA { position:absolute; top:1250; left:2279; width:325px; height:18px; }
#APLAN { position:absolute; top:1275; left:2279; width:325px; height:18px; }
#OTAUR { position:absolute; top:1301; left:2279; width:325px; height:18px; }
#TCAST { position:absolute; top:1326; left:2279; width:325px; height:18px; }
#DPOND { position:absolute; top:1352; left:2279; width:325px; height:18px; }
#LDECE { position:absolute; top:1378; left:2279; width:325px; height:18px; }
#AGLAB { position:absolute; top:1403; left:2279; width:325px; height:18px; }
#LLUNA { position:absolute; top:1429; left:2279; width:325px; height:18px; }
#PXYLO { position:absolute; top:1454; left:2279; width:325px; height:18px; }
#HMELP { position:absolute; top:1480; left:2279; width:325px; height:18px; }
#DPLEX { position:absolute; top:1505; left:2279; width:325px; height:18px; }
#MSEXT { position:absolute; top:1531; left:2279; width:325px; height:18px; }
#BMORI { position:absolute; top:1557; left:2279; width:325px; height:18px; }
#CQUIN { position:absolute; top:1582; left:2279; width:325px; height:18px; }
#AAEGY { position:absolute; top:1608; left:2279; width:325px; height:18px; }
#AALBI { position:absolute; top:1633; left:2279; width:325px; height:18px; }
#AGAMB { position:absolute; top:1659; left:2279; width:325px; height:18px; }
#AFUNE { position:absolute; top:1685; left:2279; width:325px; height:18px; }
#LLONG { position:absolute; top:1710; left:2279; width:325px; height:18px; }
#MDEST { position:absolute; top:1736; left:2279; width:325px; height:18px; }
#DGRIM { position:absolute; top:1761; left:2279; width:325px; height:18px; }
#DMELA { position:absolute; top:1787; left:2279; width:325px; height:18px; }
#DPSEU { position:absolute; top:1812; left:2279; width:325px; height:18px; }
#CCAPI { position:absolute; top:1838; left:2279; width:325px; height:18px; }
#GMORS { position:absolute; top:1864; left:2279; width:325px; height:18px; }
#LCUP2 { position:absolute; top:1889; left:2279; width:325px; height:18px; }
#MDOME { position:absolute; top:1915; left:2279; width:325px; height:18px; }


#sixtynine  { position:absolute; top:216; left:1270; width:70px; height:30px; }



#myImage a span  {
  display:none;
}