h1 { font-family:Arial; }
p { font-family:Arial; }

#myImage  {
  position:relative; width:2609px; height:1966px; 
  background-image:url("arth_big_figtree.png");
  background-repeat: no-repeat; 
}

a:hover { border:1px solid #e60000; }

#HAZTE { position:absolute; top:-3px; left:2279px; width:325px; height:18px; }
#DPULE { position:absolute; top:22px; left:2279px; width:325px; height:18px; }
#EAFFI { position:absolute; top:48px; left:2279px; width:325px; height:18px; }
#SMARI { position:absolute; top:73px; left:2279px; width:325px; height:18px; }
#TURTI { position:absolute; top:99px; left:2279px; width:325px; height:18px; }
#MOCCI { position:absolute; top:124px; left:2279px; width:325px; height:18px; }
#ISCAP { position:absolute; top:150px; left:2279px; width:325px; height:18px; }
#CSCUL { position:absolute; top:176px; left:2279px; width:325px; height:18px; }
#LRECL { position:absolute; top:201px; left:2279px; width:325px; height:18px; }
#SMIMO { position:absolute; top:227px; left:2279px; width:325px; height:18px; }
#PTEPI { position:absolute; top:252px; left:2279px; width:325px; height:18px; }
#LHESP { position:absolute; top:278px; left:2279px; width:325px; height:18px; }
#CAQUI { position:absolute; top:303px; left:2279px; width:325px; height:18px; }
#LFULV { position:absolute; top:329px; left:2279px; width:325px; height:18px; }
#EDANI { position:absolute; top:355px; left:2279px; width:325px; height:18px; }
#BGERM { position:absolute; top:380px; left:2279px; width:325px; height:18px; }
#ZNEVA { position:absolute; top:406px; left:2279px; width:325px; height:18px; }
#PHUMA { position:absolute; top:431px; left:2279px; width:325px; height:18px; }
#FOCCI { position:absolute; top:457px; left:2279px; width:325px; height:18px; }
#APISU { position:absolute; top:482px; left:2279px; width:325px; height:18px; }
#PVENU { position:absolute; top:508px; left:2279px; width:325px; height:18px; }
#HVITR { position:absolute; top:534px; left:2279px; width:325px; height:18px; }
#GBUEN { position:absolute; top:559px; left:2279px; width:325px; height:18px; }
#CLECT { position:absolute; top:585px; left:2279px; width:325px; height:18px; }
#HHALY { position:absolute; top:610px; left:2279px; width:325px; height:18px; }
#OFAS2 { position:absolute; top:636px; left:2279px; width:325px; height:18px; }
#TPRET { position:absolute; top:661px; left:2279px; width:325px; height:18px; }
#COPFL { position:absolute; top:687px; left:2279px; width:325px; height:18px; }
#NVITR { position:absolute; top:713px; left:2279px; width:325px; height:18px; }
#AROSA { position:absolute; top:738px; left:2279px; width:325px; height:18px; }
#OABIE { position:absolute; top:764px; left:2279px; width:325px; height:18px; }
#CCINC { position:absolute; top:789px; left:2279px; width:325px; height:18px; }
#HSALT { position:absolute; top:815px; left:2279px; width:325px; height:18px; }
#LHUMI { position:absolute; top:841px; left:2279px; width:325px; height:18px; }
#CFLOR { position:absolute; top:866px; left:2279px; width:325px; height:18px; }
#PBARB { position:absolute; top:892px; left:2279px; width:325px; height:18px; }
#COBSC { position:absolute; top:917px; left:2279px; width:325px; height:18px; }
#SINVI { position:absolute; top:943px; left:2279px; width:325px; height:18px; }
#AECHI { position:absolute; top:968px; left:2279px; width:325px; height:18px; }
#ACEPH { position:absolute; top:994px; left:2279px; width:325px; height:18px; }
#DNOVA { position:absolute; top:1020px; left:2279px; width:325px; height:18px; }
#LALBI { position:absolute; top:1045px; left:2279px; width:325px; height:18px; }
#MROTU { position:absolute; top:1071px; left:2279px; width:325px; height:18px; }
#HLABO { position:absolute; top:1096px; left:2279px; width:325px; height:18px; }
#EMEXI { position:absolute; top:1122px; left:2279px; width:325px; height:18px; }
#AFLOR { position:absolute; top:1147px; left:2279px; width:325px; height:18px; }
#AMELL { position:absolute; top:1173px; left:2279px; width:325px; height:18px; }
#MQUAD { position:absolute; top:1199px; left:2279px; width:325px; height:18px; }
#BTERR { position:absolute; top:1224px; left:2279px; width:325px; height:18px; }
#BIMPA { position:absolute; top:1250px; left:2279px; width:325px; height:18px; }
#APLAN { position:absolute; top:1275px; left:2279px; width:325px; height:18px; }
#OTAUR { position:absolute; top:1301px; left:2279px; width:325px; height:18px; }
#TCAST { position:absolute; top:1326px; left:2279px; width:325px; height:18px; }
#DPOND { position:absolute; top:1352px; left:2279px; width:325px; height:18px; }
#LDECE { position:absolute; top:1378px; left:2279px; width:325px; height:18px; }
#AGLAB { position:absolute; top:1403px; left:2279px; width:325px; height:18px; }
#LLUNA { position:absolute; top:1429px; left:2279px; width:325px; height:18px; }
#PXYLO { position:absolute; top:1454px; left:2279px; width:325px; height:18px; }
#HMELP { position:absolute; top:1480px; left:2279px; width:325px; height:18px; }
#DPLEX { position:absolute; top:1505px; left:2279px; width:325px; height:18px; }
#MSEXT { position:absolute; top:1531px; left:2279px; width:325px; height:18px; }
#BMORI { position:absolute; top:1557px; left:2279px; width:325px; height:18px; }
#CQUIN { position:absolute; top:1582px; left:2279px; width:325px; height:18px; }
#AAEGY { position:absolute; top:1608px; left:2279px; width:325px; height:18px; }
#AALBI { position:absolute; top:1633px; left:2279px; width:325px; height:18px; }
#AGAMB { position:absolute; top:1659px; left:2279px; width:325px; height:18px; }
#AFUNE { position:absolute; top:1685px; left:2279px; width:325px; height:18px; }
#LLONG { position:absolute; top:1710px; left:2279px; width:325px; height:18px; }
#MDEST { position:absolute; top:1736px; left:2279px; width:325px; height:18px; }
#DGRIM { position:absolute; top:1761px; left:2279px; width:325px; height:18px; }
#DMELA { position:absolute; top:1787px; left:2279px; width:325px; height:18px; }
#DPSEU { position:absolute; top:1812px; left:2279px; width:325px; height:18px; }
#CCAPI { position:absolute; top:1838px; left:2279px; width:325px; height:18px; }
#GMORS { position:absolute; top:1864px; left:2279px; width:325px; height:18px; }
#LCUP2 { position:absolute; top:1889px; left:2279px; width:325px; height:18px; }
#MDOME { position:absolute; top:1915px; left:2279px; width:325px; height:18px; }


#sixtynine  { position:absolute; top:216px; left:1270px; width:70px; height:30px; }	