h1 { font-family:Arial; }
p { font-family:Arial; }

#myImage  {
  position:relative; width:2609px; height:1966px; 
  background-image:url("arth_big_figtree.png");
}

a:hover { border:1px solid #e60000; }

a.HAZTE { position:absolute; top:-3; left:2279; width:325px; height:18px; }
a.DPULE { position:absolute; top:22; left:2279; width:325px; height:18px; }
a.EAFFI { position:absolute; top:48; left:2279; width:325px; height:18px; }
a.SMARI { position:absolute; top:73; left:2279; width:325px; height:18px; }
a.TURTI { position:absolute; top:99; left:2279; width:325px; height:18px; }
a.MOCCI { position:absolute; top:124; left:2279; width:325px; height:18px; }
a.ISCAP { position:absolute; top:150; left:2279; width:325px; height:18px; }
a.CSCUL { position:absolute; top:176; left:2279; width:325px; height:18px; }
a.LRECL { position:absolute; top:201; left:2279; width:325px; height:18px; }
a.SMIMO { position:absolute; top:227; left:2279; width:325px; height:18px; }
a.PTEPI { position:absolute; top:252; left:2279; width:325px; height:18px; }
a.LHESP { position:absolute; top:278; left:2279; width:325px; height:18px; }
a.CAQUI { position:absolute; top:303; left:2279; width:325px; height:18px; }
a.LFULV { position:absolute; top:329; left:2279; width:325px; height:18px; }
a.EDANI { position:absolute; top:355; left:2279; width:325px; height:18px; }
a.BGERM { position:absolute; top:380; left:2279; width:325px; height:18px; }
a.ZNEVA { position:absolute; top:406; left:2279; width:325px; height:18px; }
a.PHUMA { position:absolute; top:431; left:2279; width:325px; height:18px; }
a.FOCCI { position:absolute; top:457; left:2279; width:325px; height:18px; }
a.APISU { position:absolute; top:482; left:2279; width:325px; height:18px; }
a.PVENU { position:absolute; top:508; left:2279; width:325px; height:18px; }
a.HVITR { position:absolute; top:534; left:2279; width:325px; height:18px; }
a.GBUEN { position:absolute; top:559; left:2279; width:325px; height:18px; }
a.CLECT { position:absolute; top:585; left:2279; width:325px; height:18px; }
a.HHALY { position:absolute; top:610; left:2279; width:325px; height:18px; }
a.OFAS2 { position:absolute; top:636; left:2279; width:325px; height:18px; }
a.TPRET { position:absolute; top:661; left:2279; width:325px; height:18px; }
a.COPFL { position:absolute; top:687; left:2279; width:325px; height:18px; }
a.NVITR { position:absolute; top:713; left:2279; width:325px; height:18px; }
a.AROSA { position:absolute; top:738; left:2279; width:325px; height:18px; }
a.OABIE { position:absolute; top:764; left:2279; width:325px; height:18px; }
a.CCINC { position:absolute; top:789; left:2279; width:325px; height:18px; }
a.HSALT { position:absolute; top:815; left:2279; width:325px; height:18px; }
a.LHUMI { position:absolute; top:841; left:2279; width:325px; height:18px; }
a.CFLOR { position:absolute; top:866; left:2279; width:325px; height:18px; }
a.PBARB { position:absolute; top:892; left:2279; width:325px; height:18px; }
a.COBSC { position:absolute; top:917; left:2279; width:325px; height:18px; }
a.SINVI { position:absolute; top:943; left:2279; width:325px; height:18px; }
a.AECHI { position:absolute; top:968; left:2279; width:325px; height:18px; }
a.ACEPH { position:absolute; top:994; left:2279; width:325px; height:18px; }
a.DNOVA { position:absolute; top:1020; left:2279; width:325px; height:18px; }
a.LALBI { position:absolute; top:1045; left:2279; width:325px; height:18px; }
a.MROTU { position:absolute; top:1071; left:2279; width:325px; height:18px; }
a.HLABO { position:absolute; top:1096; left:2279; width:325px; height:18px; }
a.EMEXI { position:absolute; top:1122; left:2279; width:325px; height:18px; }
a.AFLOR { position:absolute; top:1147; left:2279; width:325px; height:18px; }
a.AMELL { position:absolute; top:1173; left:2279; width:325px; height:18px; }
a.MQUAD { position:absolute; top:1199; left:2279; width:325px; height:18px; }
a.BTERR { position:absolute; top:1224; left:2279; width:325px; height:18px; }
a.BIMPA { position:absolute; top:1250; left:2279; width:325px; height:18px; }
a.APLAN { position:absolute; top:1275; left:2279; width:325px; height:18px; }
a.OTAUR { position:absolute; top:1301; left:2279; width:325px; height:18px; }
a.TCAST { position:absolute; top:1326; left:2279; width:325px; height:18px; }
a.DPOND { position:absolute; top:1352; left:2279; width:325px; height:18px; }
a.LDECE { position:absolute; top:1378; left:2279; width:325px; height:18px; }
a.AGLAB { position:absolute; top:1403; left:2279; width:325px; height:18px; }
a.LLUNA { position:absolute; top:1429; left:2279; width:325px; height:18px; }
a.PXYLO { position:absolute; top:1454; left:2279; width:325px; height:18px; }
a.HMELP { position:absolute; top:1480; left:2279; width:325px; height:18px; }
a.DPLEX { position:absolute; top:1505; left:2279; width:325px; height:18px; }
a.MSEXT { position:absolute; top:1531; left:2279; width:325px; height:18px; }
a.BMORI { position:absolute; top:1557; left:2279; width:325px; height:18px; }
a.CQUIN { position:absolute; top:1582; left:2279; width:325px; height:18px; }
a.AAEGY { position:absolute; top:1608; left:2279; width:325px; height:18px; }
a.AALBI { position:absolute; top:1633; left:2279; width:325px; height:18px; }
a.AGAMB { position:absolute; top:1659; left:2279; width:325px; height:18px; }
a.AFUNE { position:absolute; top:1685; left:2279; width:325px; height:18px; }
a.LLONG { position:absolute; top:1710; left:2279; width:325px; height:18px; }
a.MDEST { position:absolute; top:1736; left:2279; width:325px; height:18px; }
a.DGRIM { position:absolute; top:1761; left:2279; width:325px; height:18px; }
a.DMELA { position:absolute; top:1787; left:2279; width:325px; height:18px; }
a.DPSEU { position:absolute; top:1812; left:2279; width:325px; height:18px; }
a.CCAPI { position:absolute; top:1838; left:2279; width:325px; height:18px; }
a.GMORS { position:absolute; top:1864; left:2279; width:325px; height:18px; }
a.LCUP2 { position:absolute; top:1889; left:2279; width:325px; height:18px; }
a.MDOME { position:absolute; top:1915; left:2279; width:325px; height:18px; }


a.sixtynine  { position:absolute; top:216; left:1270; width:70px; height:30px; }



#myImage a span  {
  display:none;
}