h2 {
    /* border:1px solid red; */
    margin:0;
}

h4 {
    margin:20px 0px 0px 0px;
}

p {
    /* border: 1px solid blue; */
}

pre {
    background-color:#ffffff;
}
/*------------------------------------------------------*/
/* Main grid styles */
#griz_main_div::before {
	z-index: -100;
	position: absolute;
    width: 100%;
    height: 100%;
    /* background-image: url(../img/bg/code-bg-blur.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-clip: border-box;
	background-origin: padding-box;
	-moz-background-size: cover;
	background-size: cover; */
	content: ' ';
}
#griz_main_row {
	min-height:92vh;
}

#griz_head_row {
    max-height: 20vh;
}

#griz_node_desc{
	display:flex;
    justify-content: center;
	align-items: left;
	flex-direction: column;
	width:100%;
	text-align:justify;
	/* border: 1px solid green; */
}

/* #griz_head {
    display:flex;
    justify-content:center;
    align-items:center;
    display: inline-block;
    width:100%;
    height:auto;
    padding:0px 24px 4px 4px;
} */

#server_row {
	display:flex;
	min-height:10vh;
	padding:0px 0px;
	/* border:1px solid red; */
}
#griz_img_cont {
	display:flex;
	justify-content:center;
	align-items:center;
	display: inline-block;
	height:auto;
	padding:0px 24px 4px 4px;
	/* border: 1px solid blue; */
}
#griz_img {
	max-height:20vh;
	max-width:100%;
	border:2px solid #333;
	border-radius:5px;
	/* border: 1px solid green; */
}

#griz_title {
    display:flex;
	justify-content:left;
	align-items:center;
}

#section_sep_top {
    width:100%;
    height:3vh;
}
#section_sep_btm {
    width:100%;
    height:2vh;
}

#section_line {
    height:1px;
    border-top:1px dotted #333333;
}

#msg_cont {
    width:100%;
    display:flex;
	justify-content:center;
    align-items:center;
    min-height:10vh;
}
#msg {
    width:80%;
}
#msg_banner {
    width:100%;
	align-items:left;
    background-color:#ffd9b3;
    padding:5px;
    font-size:1.4em;
    border-left: 5px solid #db6d00;
    border-top-left-radius:2px;
    border-top-right-radius:2px;
    box-shadow: 2px 2px 2px #cccccc;
}
#msg_text {
    width:100%;
	align-items:left;
    background-color:#ffffff;
    padding:1px 5px;
    border-left: 5px solid #db6d00;
    border-bottom-left-radius:2px;
    border-bottom-right-radius:2px;
    box-shadow: 2px 2px 2px #cccccc;
}

#msg_text p {
    padding: 0px 20px;
    font-style:italic;
}

#imp_link {
    text-align:center;
    font-size:1.2em;
}


@media (max-width: 1025px) {
    #griz_img_cont { display:inline-block; width:100%; }
    #griz_img { margin: 0 auto; max-height:20vh; }
    #griz_title { display:inline-block; width:100%; text-align:center; }
    /* #griz_main_div { border: 1px solid blue; } */
    #griz_head_row { min-height: 30vh; }
}