/*------------------------------------------------------*/
/* Global page styles */
@font-face {
    font-family: 'metropolislight';
    src: url('fonts/metropolis-light-webfont.woff2') format('woff2'),
         url('fonts/metropolis-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'metropolismedium';
    src: url('fonts/metropolis-medium-webfont.woff2') format('woff2'),
         url('fonts/metropolis-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
	/* background-image: url(../img/bg/bg25.png); */
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-clip: border-box;
	background-origin: padding-box;
	-moz-background-size: cover;
	background-size: cover;
	color:#fff;
	font-family: 'metropolislight';
	content: ' ';
	scrollbar-width: none;
	margin:0;
}

a {
	color:#ff8f33;
}

/*------------------------------------------------------*/
/* Main grid styles */
#body_div {
	min-height:100vh;
}

/*------------------------------------------------------*/
/* Search grid styles */
#search_grid {
	width:100%;
	height:10vh;
}
.search_box{
	color: #ffffff;
	/* background-color: rgba(209, 209, 224, 0); */
	background-color:rgba(0,0,0,0.05);
	border: none;
	border-bottom: 1px solid #d3d3d3;
	height: 2em;
	width: 75%;
	font-size: 1em;
	font-weight: lighter;
	padding-left:5px;
	transition: all 0.3s;
	display:block;
	margin:0 auto;
}
.search_box:focus {
	border-bottom: 1px solid #994d00;
	box-shadow: 0 1px 0 0 #994d00;
	/* background-color: rgba(209, 209, 224, 0.05); */
	background-color:rgba(0,0,0,0.15);
	outline: none;
}
@media (max-width: 1025px) {
	#search_grid { height: 45vh; }
	.search_cell { width:100% }
	.search_box { width:75%; height:10vh; }
}

/*------------------------------------------------------*/
/* Bookmark grid styles */
#bookmark-row {}
.bookmark {
	height:7vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.bookmark a {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align:center;
	width:90%;
	height:90%;
	text-decoration:none;
	/* background-color:rgba(255,255,255,0); */
	background-color:rgba(0,0,0,0.15);
	color: inherit;
	border-radius:10px;
	transition:all .4s ease;
	border-radius:10px;
}
.bookmark a:hover{
	border-radius:20px;
	background-color:rgba(0, 0, 0, 0.8);
	color:000;
	color:#ff8f33;
}

@media (max-width: 1025px) {
	.row {display:inline-block;}
	.bookmark {width:49%; height:20vh; display:inline-block;}
	.bookmark_margin {display:none; width:0;}
	.bookmark a { width:100%; font-size:xx-large; border-radius:0; border:1px solid grey; background-color:rgba(102,102, 102, 0.5); }
	.bookmark a:hover { background-color:rgba(102, 102, 102, 0.9); }
}

/*------------------------------------------------------*/
/* Environmental grid styles */
#env_banner {
	width:100%;
	height:14vh;
}
#motd_text {
	display: flex;
	align-items: center;
	font-size:3em;
	font-style:italic;
}
#clock_cont {
	height:100%;
	display: flex;
	align-items: center;
}
#clock_cell {
	padding-left: 10px;
	display: flex;
	align-items: center;
}
#clock{
	font-size:1.5em;
}
#in {
	font-size:1.5em;
}
@media (max-width: 1025px) {
	#env_banner { display: none; }
}

/*------------------------------------------------------*/
/* Media grid styles */
.media_cell {
	min-height:20vh;
}
@media (max-width: 1025px) {
	.media_cell { display:none;}
	#weather_cell { display:none; }
	#iotd_cell { display:none; }
	#cal_cell { display:none; }
}

/*------------------------------------------------------*/
/* Grid spacing styles */
.sep_div {
	height:5vh;
}
.top_sep_div {
	height:5vh;
}
.med_sep_div {
	height:30vh;
}
.big_sep_div {
	height:45vh;
}
#vert_line{
	width:1px;
	height:100%;
	background-color:#d3d3d3;
}
#line, #first_line {
	height:0px;
	border-bottom:1px solid #d3d3d3;
	margin:2vh;
}
@media (max-width: 1025px) {
	.margin { display: none; }
	.top_sep_div { display: none; }
	.big_sep_div { display: none; }
	#line { margin: 4vh 0; }
	#first_line { height:1vh; margin:5vh; border:0; }
}

#map_span { padding-left: 5px; padding-top:5px; font-size:x-large; color:#FFD700;}
#map_span #hidden{ height:0; opacity: 0; transition: opacity 0.3s linear;}
#map_span:hover #hidden{ 
	opacity: 1;
	position:absolute; 
	top: 0; 
	height: 62px;
}
@media (max-width: 1025px) {
	#map_span { width:0; display: none; }
}

/*------------------------------------------------------*/
/* Dropdown bookmarks */
.drop_list {
	display: none;
	position: absolute;
	/* min-width: 160px; */
	width:8.3333%;
	z-index: 1;
  }

.drop_list a {
	background-color:rgba(0,0,0,1);
	border-radius:5px;
	height:100%;
  }

/* Show the dropdown menu on hover */
.drop_cont:hover .drop_list {display:block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.drop_cont:hover .drop_link {background-color: rgba(0,0,0,1);}

@media (max-width: 1025px) {
	.drop_cont {width:49%; height:20vh; }
	.drop_cont .bookmark {width:100%;}
	.drop_list {width:50%; height:20vh;}
}