/*------------------------------------------------------*/
/* Global page styles */
@font-face {
    font-family: 'metropolislight';
    src: url('fonts/metropolis-light-webfont.woff2') format('woff2'),
         url('fonts/metropolis-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'metropolismedium';
    src: url('fonts/metropolis-medium-webfont.woff2') format('woff2'),
         url('fonts/metropolis-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
	color:#000;
	font-family: 'metropolislight';
}
a {
	color:#ff8f33;
	/* color:#2e9d95 */
}

/*------------------------------------------------------*/
/* Background grid styles */
#bg_div::before {
	z-index: -100;
	position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../img/bg/bg1.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-clip: border-box;
	background-origin: padding-box;
	-moz-background-size: cover;
	background-size: cover;
	content: ' ';
}
#bg_div {
	/* font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; */
    color:#fff;
    position: relative;
	background-color: rgba(0,0,0,0.6);
	min-height:100vh;
    /* display: flex; */
    /* justify-content: center; */
    align-items: center;
    font-size: large;
}

/*------------------------------------------------------*/
/* Hero grid styles */
#hero_div {
    background-image: url(../img/bg/bg1.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-clip: border-box;
	background-origin: padding-box;
	-moz-background-size: cover;
	background-size: cover;
	content: ' ';
	height:90vh;
}
#hero_text{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size:3em;
	font-style:italic;
	color:#fff;
}
/*------------------------------------------------------*/
/* Search grid styles */
#search_grid {
	width:100%;
}
.search_box{
	background-color: rgba(209, 209, 224, 0.6);
	border: none;
	border-bottom: 1px solid #000;
	height: 3rem;
	width: 75%;
	font-size: 1rem;
	margin: 0 0 15px 0;
	transition: all 0.3s;
	display:block;
	margin:0 auto;
}
.search_box:focus {
	border-bottom: 1px solid #994d00;
	box-shadow: 0 1px 0 0 #994d00;
}
.search_btn {
	background-color:#994d00;
	padding:10px;
	border:none;
	border-radius:15px;
	transition: all 0.3s;
	display:block;
	margin:0 auto;
	width:40%;
}
.search_btn:hover {
	background-color:#B88858;
}
@media (max-width: 1025px) {
	.search_cell { width:100% }
	.search_box { width:50%; height:10vh; }
	.search_btn { width:30%; }
}

/*------------------------------------------------------*/
/* Media grid styles */
.media_cell {
	min-height:20vh;
}
@media (max-width: 1025px) {
	.media_cell { width:100% }
	#weather_cell { width:75%; margin:0 auto; }
	#iotd_cell { display: none; }
	#cal_cell { width:75%; margin:0 auto; padding-top:3vh;}
}

/*------------------------------------------------------*/
/* Bookmark grid styles */
.bookmark {
	height:7vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.bookmark a {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align:center;
	width:90%;
	height:100%;
	text-decoration:none;
	/* background-color:rgba(109, 109, 116, 0.8); */
	background-color:rgba(102,102, 102, 0.8);
	color:#fff;
	border-radius:10px;
	transition:all .4s ease;
}
.bookmark a:hover{
	border-radius:20px;
	background-color:rgba(177, 177, 185, 0.8);
	color:#ff8f33;
}

@media (max-width: 1025px) {
	.bookmark {width:50%; height:20vh;}
	.bookmark_margin {display:none;}
	.bookmark a {width:100%; font-size:xx-large; border-radius:0;border:1px solid grey;}
}


/*------------------------------------------------------*/
/* Header styles */
.header {
	height:5vh;
	background-color: rgba(46,157,149,0.85);
	color:#000;
	width:100%;
	font-size:x-large;
}
.sub_header {
	height:5vh;
	background-color: rgba(46,157,149,0);
	color:#fff;
	width:100%;
	font-size:x-large;
}
.header_text {
	height:100%;
	display: flex;
	align-items: center;
}
.header_margin {
	height:100%;
}
@media (max-width: 1025px) {
	.header { font-size:xx-large; padding:10px 0; }
	.sub_header { font-size:xx-large; padding:10px 0;}
}
/*------------------------------------------------------*/
/* Grid spacing styles */
.sep_div {
	height:5vh;
}
#sep_hero { 
	height:5vh;
	display:block;
}
.bookmark_sep_div {
	height:3vh;
}
#vert_line{
	width:1px;
	height:100%;
	background-color:#d3d3d3;
}
#line {
	height:1px;
	background-color:#d3d3d3;
	margin:20px 10%;
}
@media (max-width: 1025px) {
	.margin { display: none; }
	#sep_hero { display: none; }
}

