html {
  line-height: 1.5;
  font-family:Arial;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.87);
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  /*background-color:rgba(255, 253, 243, 0.9);*/
  /*background-color:#fff9ef;*/
  /*background-color: #192231;*/
  /*background-color:#b6a19e;*/
  background: rgba(36, 32, 37, 1) url(../img/bg/bg07.jpg) no-repeat center fixed;
  margin:0;
  padding-bottom:25px;
}

@font-face {
    font-family: Myriad-Pro;
    src: url(Myriad-Pro.ttf);
}

@media (min-width: 1260px) {
/* Add `.grid` for the table */
  .grid {
    display: table;
    width: 100%;
    table-layout: fixed;
  }

  /* Add `.col` for the table cells, or columns */
  .col {
    display: table-cell;
    text-align: left;
  }

  /* Set the widths */
  .col-1 { width: 8.333333%; }
  .col-1-margin {width: 5%;}
  .col-2 { width: 16.666667%; }
  .col-3 { width: 25%; }
  .col-4 { width: 33.333333%; }
  .col-5 { width: 41.666667%; }
  .col-6 { width: 50%; }
  .col-7 { width: 58.333333%; }
  .col-8 { width: 66.666667%; }
  .col-9 { width: 75%; }
  .col-10 { width: 83.333333%; }
  .col-11 { width: 91.666667%; }
  .col-12 { width: 100%; }
}

#nav {
  color: #fff;
  /*background-color: rgba(240, 240, 244, 0.8);*/
  /*background-color:#ffebd0;*/
  /*background-color:rgba(176, 196, 232, 0.9);*/
  /*background-color:#98878f;*/
  /*background-color:#6c648b;*/
  /*background-color: #62555B;*/
  background-color: rgba(36, 32, 37, 0);
  padding-bottom:15px;
}

#nav_left {
  float:left;
  vertical-align:middle;
}

#logo_img {
  padding-top:10px;
  padding-left:20px;
}

#nav_mid {
  vertical-align:middle;
  font-family:Myriad-Pro;
  font-size:4em;
  color:#fff;
  padding-left:20px;
}

#nav_right {
  margin:20px;
}

.divider {
  height: 1px;
  background-color: #e0e0e0;
}

#top_margin {
  height: 25px;
}

#search_content {
  padding:20px;
  /*border:2px solid #000;*/
  border-radius:10px;
  /*background-color:rgba(108, 52, 9, 0.6);*/
  background-color:rgba(182, 172, 185, 0.2);
  /*background-color:rgba(61,114,164,0.4);*/
 /*background-color:rgba(153,102,0,0.6);*/
  box-shadow: 5px 5px 5px #000;
}

#row {
  display:table;
  height:150px;
}

#logo_div {
  display:table-cell;
  vertical-align:middle;
}

#logo {
  display:block;
  margin: 0 auto;
  border-radius:10px;
  padding:5px;
}

#logo:hover {
  /*background-color:rgba(230, 100, 25, 0.6);*/
  background-color:rgba(61,114,164,0.4);
  transition: .5s ease-out;
  padding:5px;
}

a {
  color:#fff;
  text-decoration:none;
}

a:visited {
  text-decoration:none;
}

a:hover {
  text-decoration:none;
}

a span {
  display: none;
}

a:hover span {
  position:absolute;
  display:block;
  text-align:center;
  background-color:rgba(0, 0, 0, 0.7);
  text-decoration:none;
  color: #ffffff;
  width:100px;
  margin-left:85px;
  padding:5px;
}

table {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  font-family:Courier;
  font-size:1.2em;
}

td, th {
  padding: 15px 5px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-radius: 2px;
  min-width:200px;
}

#stats_table {
  background-color:rgba(0, 0, 0, 0.4);
  border-radius:10px;
  color:#fff;
}






#navlink {
  color: #8c8c6d;
  transition: background-color .2s;
  font-size: 1rem;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
}

#navlink:hover { background-color: rgba(182, 173, 184, 0.1); }
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position:absolute;
  top:15px;
  right:20px;
}
/* Dropdown Content (Hidden by Default) */
.dropdown_links {
    display: none;
    position: absolute;
    background-color: rgb(182, 173, 184);
    min-width: 60px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
/* Links inside the dropdown */
.dropdown_links a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 0 5px;
    line-height:20px;
}
/* Change color of dropdown links on hover */
.dropdown_links a:hover { 
  background-color: rgb(206, 200, 208);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown_links {
    display: block;
}


#ex_img {
  background-color:rgba(200, 200, 200, 0.4);
  border-radius:10px;
  display:block;
  margin:0 auto;
}